<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="DocImage" path="DocImage.axd" verb="GET,POST" type="DotnetDaddy.DocumentViewer.DocImageHandler, DocumentViewer"/>
    </handlers>
  </system.webServer>
</configuration>